﻿
@{
    ViewBag.Title = "כניסה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#userName").jqxInput({ placeHolder: "שם משתמש", height: 25, width: 200, minLength: 1, rtl:true });
        $("#password").jqxPasswordInput({ width: '200px', height: '25px', rtl: true });
        $("#submit").jqxButton({ width: '100' });
        $("#submit").on('click', function()
        {
            $.ajax({
                type: "POST",
                url: "/Account/LoginUser/",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                  
                    userName: $("#userName").val(),
                    password: $("#password").val()
                 
                }),
                dataType: "json",
                success: function (data, status, jqXHR) {
                    if (data.isMenager)
                        {
                        window.location = "/PdfUpload/Index";
                    }
                    else if (data.isValide)
                    {
                        window.location = "/Home/index/" + data.id;
                    }
                    else
                    {
                        $("#message").html("כניסה שגוייה למערכת");
                        $("#password").val("");
                    }
                }
            });
        })
    });
</script>
<style>
    label
    {
        float:right;
        width:150px;
    }
    #loginForm div
    {
        margin:20px;
    }
    #loginForm {
        border: 1px solid #5C9CCC;
        padding:10px;
        width:500px;
        margin:50px auto;
    }
    h2
    {
        text-align:center;
    }
    #submit
    {
        width:100px;
        margin:5px auto;
        display:block;
    }
</style>

<div id="loginForm">
    <h2>כניסה</h2>

    <div id="message" style="color:red"></div>
        <div>
            <label>שם משתמש:</label>
            <input id="userName" />
        </div>
        <div>
            <label>סיסמא:</label>
            <input id="password" type="password" />
        </div>
   
        <input id="submit" value="כנס" type="button"/>
    <br />
    <a href="/Account/PasswordForgot">שכחתי סיסמא</a>
    </div>
