﻿
@{
    ViewBag.Title = "העלאת קבצים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #uploadDiv {
        width: 600px;
        margin: 20px auto;
        border: 1px solid #5C9CCC;
        padding:0 20px 20px 20px;
    }
    label
    {
        float:right;
        width:150px;
    }
    input
    {
        width:150px;
    }
    p
    {
        margin:20px 0;
    }
    .messageSpan
    {
        color:#46a72f;
        font-weight:bold;
    }
</style>

<div id="uploadDiv" >
    <h2>העלאת קבצים</h2>
    <span class="messageSpan">@ViewBag.Message1</span>
    <br />
    <span>@ViewBag.Message2</span>
    @using (Html.BeginForm("Upload", "PdfUpload", FormMethod.Post, new { id = "myId", enctype = "multipart/form-data" }))
    {
        <p><label>קובץ ימים מיוחדים לחודש:</label>
        <input id="pdf1" name="pdf1" type="file" />
            </p>
    <p>
        <label>קובץ מסר החודש:</label>
        <input id="pdf2" name="pdf2" type="file" />
    </p>
    <p>
        <input type="submit" name="Submit" id="Submit" value="העלאה" />
        </p>

        }
</div>

