﻿@model IEnumerable<TehillimVulonteerBord.Models.EruimRashi>

@{
    ViewBag.Title = "דף להדפסה";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<link href="~/Content/print.css" rel="stylesheet" media="all"/>
<script>
    $(document).ready(function () {
        window.print();
    });
</script>
<div id="header">
    <span class="space"> @ViewBag.NameFileEr</span><span class="space"> @ViewBag.ToremName</span>

</div>
<table id="main">
    @foreach(var item in Model)
    {
        

            <tr class="itemTitle">
                <td>  @item.Eara </td>
                <td>@item.FirstNameEr</td>
               
<td> @item.LastNameEr</td>
             
              
                <td> @item.TelEr</td>
                <td>@item.StatusErua</td>
                <td ></td>
                <td class="spaceTd"> @item.PelEr</td></tr>
    <tr>
        <td colspan="7">
            @item.Teur
        </td>
    </tr>
    <tr class="itemClass">
        <td style="font-weight: bold;">תאריך:__________________</td>
        <td>תגובה:</td>
        <td colspan="6">@item.tguvaEr</td>
    </tr>

    }

</table>
<div id="footer">

    @ViewBag.footer
</div>