﻿@model TehillimVulonteerBord.Models.tormim

@{
    ViewBag.Title = "תהילים";
}





<style>
    .whiteCell
    {
        color:white;
        font-size:0px;
        line-height:0px;
    }
     #filterButtons div {
        display: inline-block;
    }

        #filterButtons div.filterLabel {
            display: block;
            font-weight: bold;
            vertical-align: top;
            height: 25px;
        }

        #filterButtons div.filterWrapper {
            margin-left: 30px;
        }

    #deleteFilter {
        margin: 2px 5px 5px 5px;
        vertical-align: top;
    }
    textarea
    {
        width:550px;
        height:120px;
    }
    #messageDiv a
    {
        color:black;
    }
</style>
<script src="~/Scripts/list.js"></script>
@Html.HiddenFor(model => model.num_torem);
<div id="messageDiv" style="float:left;margin-top:20px;font-size:18px">
    <p>
    <input type="button" id="specialDayButton" value="ימים מיוחדים החודש" />
   </p>
    <p>
    <input type="button" id="messerButton" value="מסר החודש" />
  </p>
</div>

<h3 style="margin-top:20px;" id="nameHeader">שלום @Model.first_name @Model.last_name  @Model.WebUser</h3>


<div style="margin-bottom:30px;">


    <b>סה"כ רשימות:</b> @ViewBag.totals
    <b>סיים:</b> @ViewBag.finish
    <b>חדש:</b> @ViewBag.newRow

</div>
<div id='collapseAll' style='margin-left: 10px; float: right;' ></div><label style="">מזער רשומות</label>
<div id="filterButtons" style="display: none">
    <div class="filterWrapper"><div class="filterLabel">לפי סטטוס:</div><div id="statusFilter"></div></div>
    <div class="filterWrapper"><div class="filterLabel">לפי שם:</div><div id="nameFilter"></div></div>
    <div class="filterWrapper"><div class="filterLabel">לפי שליחה:</div><div id="fileFilter"></div></div>
    <div class="filterWrapper"><div class="filterLabel">לפי תאריך יצירת קשר:</div><div id="DateFilter"></div></div>
    <div style="vertical-align:top"><div class="filterLabel"></div><input id="deleteFilter" type="button" value="בטל סינון" /></div>
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; z-index: 30001;
    opacity:.8; filter: alpha(opacity=100);display:none">
    <p style="position: absolute; top: 30%; left: 20%; color: White;">

        <img alt="" id="loadimage" src="@Url.Content("~/Content/ajax-loading.gif")" width="20%" height="10%" />

    </p>
</div>
<div id="dataTable"></div>


<div id="sendReportButton">
    <input id="btnSendMonthReport" type="button" value="שלח דו''ח חודשי" />
    <input id="print" type="button" value="הדפסה" />
</div>
<div id="footerText" >@ViewBag.footer</div>
<div id="sendReportDialog" style="visibility: hidden;direction:rtl">
    <div style="text-align: center; font-size: 18px; color: rgb(225, 112, 9);width:100px;margin:30px auto; direction:rtl">
        האם אתה בטוח שברצונך לשלוח?
    </div>
    <div style="width: 200px; margin: 10px auto; direction: rtl">
        <button id="send">שלח</button> <button style="margin-left: 5px;" id="sendCancel">ביטול</button>
    </div>
</div>

    <div id="message" style="visibility: hidden;direction:rtl">
    <div style="text-align: center; font-size: 18px;" id="mesaageText">
    </div>
</div>



    <div id="notSendReportDialog"   style="width: 300px; margin: 50px auto 0 auto; visibility: hidden; color: rgb(225, 112, 9); ">
        <div style="text-align: center; font-size: 18px;">
            לא ניתן לשלוח דוח מאחר שישנם רשומות בסטטוס חדש<br />
            <p style="float:left">
            <button style="margin-left: 5px;" id="closeNotSendReportDialog">סגור</button>
                </p>
        </div>
      
    </div>


<div style="visibility: hidden;" id="dialog">
    <div>עריכה</div>
    <div style="table-layout: fixed; border-style: none;">
        <input type="hidden" id="fName" value="" />
        <input type="hidden" id="Lname" value="" />
        <input type="hidden" id="Eara" value="" />
        <input type="hidden" id="TelEr" value="" />
        <input type="hidden" id="PelEr" value="" />
        <input type="hidden" id="Sivug" value="" />
        <input type="hidden" id="NameFileEr" value="" />
        <div>
            <label>שם וטלפון:</label>
            <span id="DnameAndPhone" style="font-weight: bold; color: #1d69bb"/>
           
        </div>
        <div style="overflow:auto;width:600px">
            <label style="width:300px">ת. שיחה אחרונה:</label>
            <span id="LastConverDate" ></span>

        </div>
        <div>
            <label>תאור</label>

            <textarea id="DTeur" readonly="readonly"></textarea>
        </div>
        <div>
            <label style ="width:170px">תאריך ביצוע השיחה</label>

            <div id="DDateRegSiha"></div>
        </div>
        <div>
            <label>רישום תגובה</label>
            <textarea id="DtguvaEr"></textarea>
        </div>
        <div>
            <label>סטטוס ארוע</label>
            <div id="DStatusErua"></div>
        </div>
        <div id="divDateNextKesher" style="display:none;">
            <label style="width:170px">תאריך ליצירת קשר</label>
            <div id="DDateNextKesher"></div>
        </div>
        <div style="float:left;width:520px;margin-right:300px">

            <label style="width:370px;">שלח מייל גם למנהל מערכת (במקרים דחופים)</label>
            <div id="ifSendMeneger" style='display: inline-block'></div>
        </div>
        <div style="width:200px;margin:10px auto;">
            <button id="save">שמור</button> <button style="margin-left: 5px;" id="cancel">ביטול</button>
        </div>
    </div>
</div>