﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
  direction:rtl;
  height:500px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.navbar-inverse
{
    background-color:#5C9CCC;
}

#dataTable
{
    
}

#sendReportButton
{
    width:150px;
    margin:20px auto;
}

#dialog
{
    direction:rtl;
    text-align:right;
    font-size:18px;
   border-bottom:2px solid black;
  
}

#dialog div
{
    margin-bottom:10px;
}
#dialog label
{
    float:right;
    width:120px;
   
}

#footerText
{
    font-weight:bold;
}

#dialog .jqx-window-content
{
     text-align:right;
     font-size:18px;
     direction:rtl;
}
div.information, td[role="gridcell"]
{
    font-size:18px;
}

div.information {
    height: 150px;
    overflow: auto;
}

div.information[selectedDetails=true] {
    color: #e17009;
}

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}