﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
   
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
