﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>תהילים- משפחת אומרי התהילים הגדולה בעולם</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <link href="~/Scripts/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/Scripts/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
   
    @*<link href="~/Scripts/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />*@
    <script src="~/Scripts/jqwidgets/jqxcore.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdata.js"></script>
    <script src="~/Scripts/jqwidgets/jqxbuttons.js"></script>
    <script src="~/Scripts/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdatatable.js"></script>
    <script src="~/Scripts/jqwidgets/jqxtabs.js"></script>
    <script src="~/Scripts/jqwidgets/jqxlistbox.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/Scripts/jqwidgets/jqxcombobox.js"></script>
    <script src="~/Scripts/jqwidgets/jqxtooltip.js"></script>
    <script src="~/Scripts/jqwidgets/jqxwindow.js"></script>
    <script src="~/Scripts/jqwidgets/jqxnumberinput.js"></script>
    <script src="~/Scripts/jqwidgets/jqxpasswordinput.js"></script>
    <script src="~/Scripts/jqwidgets/jqxinput.js"></script>
    <script src="~/Scripts/jqwidgets/jqxcalendar.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdatetimeinput.js"></script>
    <script src="~/Scripts/jqwidgets/globalization/globalize.js"></script>
    <script src="~/Scripts/jqwidgets/globalization/globalize.culture.he-IL.js"></script>  
    <script src="~/Scripts/jqwidgets/jqxnotification.js"></script>
    <script src="~/Scripts/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/Scripts/jquery.scrollTo.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdata.export.js"></script>
</head>
<body class='default'>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <img src="~/Content/rightheader.png" style="float:right;margin:5px 0 5px 20px" />
           <h1 style="color:white;font-size:25px ">אתר ההתנדבות של מוקד תהילים ארצי בראשות הרב מנדל</h1>

           
        </div>
    </div>
    <div class="container body-content" style="margin-top:25px">
        @RenderBody()
        <hr />
        <footer>
            <p>תהילים- משפחת אומרי תהילים הגדולה בעולם</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
